<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    Your REST resources are located at <span class="text-muted">{{ apiUrl }}</span>.
    <br>
    You can change this URL on your <span class="label label-default">.env</span> file, or set <span class="label label-default">APP_API_URL</span> as an ENV VAR on your system.
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      apiUrl: process.env.API_URL
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
