<template>
  <section>
    <div class="well">
      <form action="javascript:;" @submit.prevent="login(credentials)" class="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" v-model="credentials.email" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input id="pass" v-model="credentials.password" type="password" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Login">
        </div>
      </form>
    </div>
  </section>
</template>
<script>
  import {loginService} from '@/services/LoginService'
  import CredentialsServices from '@/services/CredentialsService'
  export default {
    data () {
      return {
        credentials: {
          email: '',
          password: ''
        },
        credentialsService: new CredentialsServices()
      }
    },
    methods: {
      login (model) {
        loginService.authenticate(model).then(data => {
          this.credentialsService.setToken(data.body.token)
          this.$router.push('/users')
        })
      }
    }
  }
</script>
<style scoped>

</style>