<template>
	<nav class="navbar navbar-default navbar-fixed">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><router-link to="/">Home</router-link></li>
	      <li><router-link to="/">Hello</router-link></li>
	    </ul>
      <ul class="nav navbar-nav pull-right">
	      <li><router-link to="/login">Login</router-link></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
	    </ul>
	  </div>
	</nav>
</template>

<script>
export default {
  //
}
</script>

<style scoped>
</style>