<template>
  <section class="container well">
    <h3>Users</h3>
    <table class="table table-bordered table-hovered">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td><button>Edit</button><button>Delete</button></td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import {usersService} from '@/services/UsersService'
export default {
  data: () => ({
    users: []
  }),
  mounted () {
    usersService.query().then(data => {
      this.users = data.body
    })
  }
}
</script>

<style scoped>
</style>
