<template>
  <div id="app">
    <navigation></navigation>
    <div class="container-fluid">
      <router-view/>
    </div>
  </div>
</template>

<script>
import navigation from '@/components/Navbar'
export default {
  components: {
    navigation
  }
}
</script>

<style>
</style>
